---
layout: default
title: Events
banner: /images/20200324_145612.jpg
---

<h1>{{ page.title | escape }}</h1>

<dl>
  <dt>Date</dt>
  <dd>{{ page.date | date: '%A, %B %e, %Y' }}</dd>

  <dt>Time</dt>
  <dd>{{ page.date | date: '%l:%M%P' }}{%- if page.endDate -%}-{{ page.endDate | date: '%l:%M%P' }}{%- endif -%}</dd>

  {% if page.location %}
    <dt>Location</dt>
    <dd>{{ page.location | escape }}</dd>
  {% endif %}
</dl>

{% if page.description %}
<p>{{ page.description | escape }}</p>
{% endif %}

{{ content }}
