---
---

body {
  font: 100% sans-serif;
}

#container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 800px;

  nav {
    align-items: baseline;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    ul {
      display: flex;
      flex-direction: row;

      li {
        list-style: none;
        margin-left: 1em;
      }
    }
  }

  footer {
    border-top: 1px solid #ccc;
  }
}

.events {
  list-style: none;
  padding: 0;

  li {
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1em;

    &:last-child {
      border-bottom: 0;
    }
  }

  .when {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 8em;
  }

  .day,
  .title {
    font-size: 150%;
  }
}
