---
---

@import url('https://fonts.googleapis.com/css2?family=Exo&family=Inter&family=Oswald&display=swap');

@font-face {
  font-family: 'Mistral';
  src: url('/fonts/mistral.woff2') format('woff2'), url('/fonts/mistral.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background: #000;
  color: #999;
  font: 100% 'Inter', sans-serif;
  margin: 0;
}

nav {
  align-items: center;
  background: #fff;
  color: #000;
  display: flex;
  justify-content: center;
  padding: 2em 1em;

  h1 {
    font-family: Mistral, serif;
    font-size: 3em;
    margin: 0;
    transform: rotate(-5deg);

    a {
      color: #000;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  #nav-toggle {
    display: none;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      margin-left: 2em;
      text-transform: uppercase;
    }

    a {
      color: #000;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  a {
    text-decoration: none;
  }
}

article {
  background: #fff;
  color: #000;
  line-height: 1.5;

  & > header {
    align-items: stretch;
    background: #000;
    background-position: center center;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    min-height: 10em;
    padding: 2em 1em;

    h1 {
      font-size: 300%;
      line-height: 1.2;
      margin: 0 auto;
      text-shadow: 0 0 15px #000;
    }
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    border-bottom: 1px solid #ccc;
    font-size: 1.6em;
  }

  h3 {
    font-size: 1.4em;
  }

  h4 {
    font-size: 1.2em;
  }

  h5 {
    font-size: 1.1em;
  }

  h6 {
    font-size: 1em;
  }

  blockquote {
    border-left: 0.25em solid #ccc;
    color: #666;
    margin: 0;
    padding: 0 1em;
  }

  img {
    max-width: 100%;
  }
}

section {
  display: block;
  margin: 0 auto;
  padding: 1em;
}

footer {
  display: block;
  margin: 0 auto;
  padding: 1em;
}

dl {
  overflow: hidden;
}

dt {
  clear: both;
  float: left;
  font-weight: bold;

  &::after {
    content: ":\00A0";
  }
}

dd {
  float: left;
  margin: 0;
}

.events {
  list-style: none;
  padding: 0;

  li {
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1em 0;
    padding: 0 0 1em 0;

    &:last-child {
      border-bottom: 0;
      padding: 0;
    }
  }

  .when {
    align-items: center;
    display: flex;
    flex: 0 0 6em;
    flex-flow: column nowrap;
    padding: 0 1em;
  }

  .day,
  .title {
    font-size: 150%;
  }

  .day {
    font-weight: bold;
  }
}

.profiles {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;

  li {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
  }

  img {
    background: #ccc;
    border: 5px solid #fff;
    border-radius: 50%;
    box-shadow: 1px 1px 5px #666;
    height: 100px;
    margin: 0.5em 0;
    width: 100px;
  }

  .title {
    font-weight: bold;
  }
}

.reports {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style: none;
  padding: 0;

  li {
    display: flex;
    flex-flow: column nowrap;
    margin: 1em;
    text-align: center;
  }
}

.notice {
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 1em 0;
  padding: 0 1em;
}

@media only screen and (max-width: 479px) {
  nav {
    padding-right: 64px;

    #nav-toggle {
      display: block;
      cursor: pointer;
      position: absolute;
      top: 16px;
      right: 16px;
      width: 32px;
      height: 32px;

      &:before {
        background: #000;
        border-radius: 5px;
        color: #ccc;
        content: "\2261";
        display: inline-block;
        font-size: 32px;
        line-height: 0.85;
        text-align: center;
        width: 32px;
        height: 32px;
      }

      &:hover:before {
        color: #fff;
      }

      &:checked:before {
        content: "\2715";
      }

      & ~ ul {
        display: none;
      }

      &:checked ~ ul {
        display: flex;
      }
    }

    ul {
      position: absolute;
      border-radius: 5px;
      box-shadow: 1px 1px 5px #333;
      flex-flow: column nowrap;
      padding: 0;
      top: 24px;
      right: 16px;

      li {
        border-bottom: 1px solid #333e;
        margin: 0;
        text-transform: inherit;
        text-align: right;

        &:last-child {
          border-bottom: 0;
        }

        a {
          background: #000e;
          color: #ccc;
          display: block;
          padding: 1em 1em 1em 3em;

          &:hover {
            color: #fff;
          }
        }

        &:first-child a {
          border-radius: 5px 5px 0 0;
        }

        &:last-child a {
          border-radius: 0 0 5px 5px;
        }
      }
    }
  }

  article {
    & > header {
      min-height: 5em;
    }
  }
}

@media only screen and (max-width: 959px) {
  nav {
    flex-direction: column;

    ul {
      margin-top: 2em;
    }
  }

  article {
    & > header {
      h1 {
        width: 100%;
      }
    }
  }
}

@media only screen and (min-width: 960px) {
  nav {
    flex-direction: row;

    h1,
    ul {
      width: 400px;
    }
  }

  article {
    & > header {
      h1 {
        width: 800px;
      }
    }
  }

  section,
  footer {
    width: 800px;
  }
}